/original/REdiscoverTE_1.0.1.tar.gz
/original/REdiscoverTEdata_1.0.1.tar.gz
/original/REdiscoverTE/rollup_annotation/rmsk_annotation.RDS
/original/REdiscoverTE/EXPECTED_OUTPUT_FILES/Step_2_salmon_counts/quant.sf.gz
